BASEDIR='/home/nvr/home-admin'

# PUSH NOTIFICATIONS
PUSHOVER_ADMIN_TOKEN='{{ lookup("ansible.builtin.env", "CTRLNODE_PUSHOVER_ADMIN_TOKEN") | default("NOT-SET") }}'
PUSHOVER_UPS_TOKEN='{{ lookup("ansible.builtin.env", "CTRLNODE_PUSHOVER_UPS_TOKEN") | default("NOT-SET") }}'
PUSHOVER_HOMESEC_TOKEN='{{ lookup("ansible.builtin.env", "CTRLNODE_PUSHOVER_HOMESEC_TOKEN") | default("NOT-SET") }}'
PUSHOVER_SILENT_ADMIN_TOKEN='{{ lookup("ansible.builtin.env", "CTRLNODE_PUSHOVER_SILENT_ADMIN_TOKEN") | default("NOT-SET") }}'
PUSHOVER_USERKEY='{{ lookup("ansible.builtin.env", "CTRLNODE_PUSHOVER_USERKEY") | default("NOT-SET") }}'
PUSHOVER_ENABLED='{{ lookup("ansible.builtin.env", "CTRLNODE_PUSHOVER_ENABLED") | default("false") }}'

