BASEDIR='/home/nvr/home-admin'

# PUSH NOTIFICATIONS
PUSHOVER_ADMIN_TOKEN='{{ lookup("ansible.builtin.env", "CTRLNODE_PUSHOVER_ADMIN_TOKEN") | default("NOT-SET") }}'
PUSHOVER_UPS_TOKEN='{{ lookup("ansible.builtin.env", "CTRLNODE_PUSHOVER_UPS_TOKEN") | default("NOT-SET") }}'
PUSHOVER_HOMESEC_TOKEN='{{ lookup("ansible.builtin.env", "CTRLNODE_PUSHOVER_HOMESEC_TOKEN") | default("NOT-SET") }}'
PUSHOVER_SILENT_ADMIN_TOKEN='{{ lookup("ansible.builtin.env", "CTRLNODE_PUSHOVER_SILENT_ADMIN_TOKEN") | default("NOT-SET") }}'
PUSHOVER_USERKEY='{{ lookup("ansible.builtin.env", "CTRLNODE_PUSHOVER_USERKEY") | default("NOT-SET") }}'
PUSHOVER_ENABLED='{{ lookup("ansible.builtin.env", "CTRLNODE_PUSHOVER_ENABLED") | default("false") }}'

# CAMERA RECORDINGS
CAM_STORAGE_MNT='/mnt/nvrdisk'
CAM_BACKUP_MNT='/mnt/backup'
RSYNC_CAM_SOURCE='/mnt/nvrdisk/cam-storage/'
RSYNC_CAM_DEST='/mnt/backup/cam-storage/'


# AZURE STORAGE ACCOUNT
LOCAL_CAM_STORAGE_DIR='/mnt/nvrdisk/cam-storage/recordings'
LOCAL_CAM_DETECTOR_DIR='/mnt/nvrdisk/cam-detector'
REMOTE_CAM_STORAGE_DIR='{{ lookup("ansible.builtin.env", "CTRLNODE_REMOTE_CAM_STORAGE_DIR") | default("NOT-SET") }}'
REMOTE_CAM_DETECTOR_DIR='{{ lookup("ansible.builtin.env", "CTRLNODE_REMOTE_CAM_DETECTOR_DIR") | default("NOT-SET") }}'
REMOTE_CAM_STORAGE_SAS='{{ lookup("ansible.builtin.env", "CTRLNODE_REMOTE_CAM_STORAGE_SAS") | default("NOT-SET") }}'

# CAMERA IP ADDRESSES
CAM_FRONT_DOOR_IP='{{ lookup("ansible.builtin.env", "CTRLNODE_CAM_FRONT_DOOR_IP") | default("192.168.1.") }}'
CAM_FRONT_STAIRS_IP='{{ lookup("ansible.builtin.env", "CTRLNODE_CAM_FRONT_STAIRS_IP") | default("192.168.1.") }}'
CAM_FRONT_GATE_IP='{{ lookup("ansible.builtin.env", "CTRLNODE_CAM_FRONT_GATE_IP") | default("192.168.1.") }}'
CAM_YARD_IP='{{ lookup("ansible.builtin.env", "CTRLNODE_CAM_YARD_IP") | default("192.168.1.") }}'
CAM_GARDEN_IP='{{ lookup("ansible.builtin.env", "CTRLNODE_CAM_GARDEN_IP") | default("192.168.1.") }}'
CAM_BACKDOOR_IP='{{ lookup("ansible.builtin.env", "CTRLNODE_CAM_BACKDOOR_IP") | default("192.168.1.") }}'

# MQTT
MQTT_VERSION='2.1.2-alpine'
MQTT_BASEDIR='/mnt/nvrdisk/mqtt'

# FRIGATE
FRIGATE_VERSION=0.17.1
FRIGATE_RTSP_PASSWORD='password'
