BASEDIR='/home/nvr/home-admin'

# PUSH NOTIFICATIONS
PUSHOVER_ADMIN_TOKEN='{{ home_automation_secrets.PUSHOVER_ADMIN_TOKEN | default("") }}'
PUSHOVER_UPS_TOKEN='{{ home_automation_secrets.PUSHOVER_UPS_TOKEN | default("") }}'
PUSHOVER_HOMESEC_TOKEN='{{ home_automation_secrets.PUSHOVER_HOMESEC_TOKEN | default("") }}'
PUSHOVER_SILENT_ADMIN_TOKEN='{{ home_automation_secrets.PUSHOVER_SILENT_ADMIN_TOKEN | default("") }}'
PUSHOVER_USERKEY='{{ home_automation_secrets.PUSHOVER_USERKEY | default("") }}'
PUSHOVER_ENABLED='{{ home_automation_secrets.PUSHOVER_ENABLED | default("false") }}'

# CAMERA RECORDINGS
CAM_STORAGE_MNT='/mnt/nvrdisk'
CAM_BACKUP_MNT='/mnt/backup'
RSYNC_CAM_SOURCE='/mnt/nvrdisk/cam-storage/'
RSYNC_CAM_DEST='/mnt/backup/cam-storage/'


# AZURE STORAGE ACCOUNT
LOCAL_CAM_STORAGE_DIR='/mnt/nvrdisk/cam-storage/recordings'
LOCAL_CAM_DETECTOR_DIR='/mnt/nvrdisk/cam-detector'
REMOTE_CAM_STORAGE_DIR='{{ home_automation_secrets.REMOTE_CAM_STORAGE_DIR | default("") }}'
REMOTE_CAM_DETECTOR_DIR='{{ home_automation_secrets.REMOTE_CAM_DETECTOR_DIR | default("") }}'
REMOTE_CAM_STORAGE_SAS='{{ home_automation_secrets.REMOTE_CAM_STORAGE_SAS | default("") }}'

# CAMERA IP ADDRESSES
CAM_FRONT_DOOR_IP='{{ home_automation_secrets.CAM_FRONT_DOOR_IP | default("192.168.1.") }}'
CAM_FRONT_STAIRS_IP='{{ home_automation_secrets.CAM_FRONT_STAIRS_IP | default("192.168.1.") }}'
CAM_FRONT_GATE_IP='{{ home_automation_secrets.CAM_FRONT_GATE_IP | default("192.168.1.") }}'
CAM_YARD_IP='{{ home_automation_secrets.CAM_YARD_IP | default("192.168.1.") }}'
CAM_GARDEN_IP='{{ home_automation_secrets.CAM_GARDEN_IP | default("192.168.1.") }}'

# MQTT
MQTT_VERSION='{{ home_automation_secrets.MQTT_VERSION | default("2.1.2-alpine") }}'
MQTT_BASEDIR='{{ home_automation_secrets.MQTT_BASEDIR | default("/mnt/nvrdisk/mqtt") }}'
